*,
*::before,
*::after { 
	box-sizing: border-box;
}

main {
	display: grid;
	max-width: 600px;
	margin: 10px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
	background-color: #f9f9f9;
	border: 2px solid #ccc;
	border-radius: 25px;
}
div {
	display: flex;
}
label {
	display: inline-flex;
}
div, label {
	flex-wrap: wrap;
	align-items: center;
	gap: 0.25em;
}

/** Spinner **/
svg.spinner {
	animation: 2s linear infinite svg-animation;
	max-width: 100px;
}
@keyframes svg-animation {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg) }
}
svg.spinner > circle {
	animation: 1.4s ease-in-out infinite both circle-animation;
	display: block;
	fill: transparent;
	stroke: #2f3d4c;
	stroke-linecap: round;
	stroke-dasharray: 283;
	stroke-dashoffset: 280;
	stroke-width: 10px;
	transform-origin: 50% 50%;
}
@keyframes circle-animation {
	0%,
	25% { stroke-dashoffset: 280; transform: rotate(0); }
	50%,
	75% { stroke-dashoffset: 75; transform: rotate(45deg); }
	100% { stroke-dashoffset: 280; transform: rotate(360deg); }
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	border: 2px solid #ccc;
	border-radius: 25px;
	padding: 10px;
}

.grid-item {
	display: flex;
	flex-direction: column;
}

.grid-item[colSpan] {
	grid-column: span 2;
	text-align: center;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to right,#4fabd6, #a36bdb);
	background-blend-mode: screen;
}

.petal-lock {
	font-size: 48px;
	font-weight: bold;
	background: linear-gradient(45deg, #710cd7, #198bc1);
	justify-content: center;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
